/*

Venue Template

http://www.templatemo.com/tm-522-venue

*/

body {
  font-family: 'Lucida Calligraphy';
  background-color: #fff;
  max-height: 193741934px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 24px;
  left: 0.25px;
}

section {
  padding-top: 80px;
}


.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.section-heading span {
  font-size: 17px;
  display: block;
  margin: 0px;
  color: #4883ff;
}

.section-heading h2 {
  margin-bottom: 0px;
  margin-top: 14px;
  font-size: 23px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}


.blue-button a {
  display: inline-block;
  background-color: #4883ff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
  border: 2px solid #4883ff;
  transition: all 0.5s;
}

.blue-button a:hover {
  background-color: transparent;
  color: #4883ff;
}


/* Header Style */

.cf:before, 
.cf:after {
  content: '';
  display: table;
  visibility: hidden;
}

.cf:after {
  clear: both;
}

#header {
  overflow: visible;
  position: relative;
  background-color: #fff;
}


#primary-nav-button {
  background: transparent;
  display: none;
  position: absolute;
  border: none;
  bottom: 0;
  right: 15px;
  top: 0;
  z-index: 9;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 0;
}

#primary-nav-button:hover {
  background: rgba(0,0,0,0.05);
}

#primary-nav-button.selected {
  background: rgba(0,0,0,0.1);
}

#primary-nav-button:before {
  /* content: 'â˜°'; */
  content: '\2261';
  display: inline-block;
  background-color: #4883ff;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.05;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: inherit;
  speak: none;
  border: none;
}

#header .logo {
  float: left;
  /* height: 100%; */
}

#header .logo img {
  width: 100%;
  overflow: hidden; 
}

#menu_icon{
  float: right;
  display: none;
  transition: transform 1s;
}

.menu {
  float: right;
}

#menu{
  transition: height 1s;
  overflow: hidden;
}

.menu li {
  float: left;
  margin-left: 30px;
  position: relative;
  line-height: 50%;
}

.menu li:last-child {
  margin-right: 0;
}

.menu .sub-menu li {
  width: 100%;
  margin-left: 0px;
}

.menu li a, #mobile_menu a {
  display: block;
  text-decoration: none;
}


#primary-nav li a {
  color: #121212;
  font-weight: bold;
  line-height: 100px;
  padding: 0px 15px;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s;
}

#primary-nav li > a:hover,
#primary-nav li.selected > a {
  color: #4883ff;
}

.sub-menu {
  border-top: 3px solid #4883ff;
}

.sub-menu li a {
  line-height: 50px!important;
  font-size: 13px!important;
  color: #7a7a7a;
}

.downarrow {
    background: none;
    display: inline-block;
  padding: 0;
    text-align: center;
    min-width: 3px;
}

.sub-menu .downarrow {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 18px;
  padding-right: 10px;
}

.downarrow:before {
  content: '\25be';
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 1.1;
  width: 1em;
  height: 1em;
}

.menu .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  max-height: 300px;
}

.menu .sub-menu li {
  line-height: 40px;
}

.menu .sub-menu.hide {
  display: none;
}

#primary-nav .sub-menu {
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
  min-width: 160px;
  z-index: 200;
}

#primary-nav .sub-menu li {
  border-bottom: 1px solid #ddd;
}

#primary-nav .sub-menu li:last-child {
  border-bottom: 0;
}

#primary-nav .sub-menu .downarrow:before {
  content: '\25b8';
}



#pfp{
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: 0.6px black solid;
}

#mobile_menu{
  display: none;
  height: 0px;
  overflow: hidden;
  transition: height 1s;
  position: absolute;
  background-color: #fff;
  z-index: 90;
  right: 0;
}
#mobile_menu li{
  margin: 15px;
  margin-left: 15px;
}

/*--------------------------------------------- Banner Style ------------------------------------------*/

section.banner {
  padding: 0px;
  display: block;
}

.banner {
  background-image: url(https://live.staticflickr.com/65535/53921371444_431ccf8bb5_c.jpg);
  width: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: rgb(211, 211, 178);
  /* color: darkblue; */
}

.banner .banner-caption {
  padding: 18vh 0px;
}

.banner .banner-caption .line-dec {
  width: 30%;
  height: 3px;
  background-color: #4883ff;
}

.banner .banner-caption h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 42px;
  letter-spacing: 0.5px;
  color: #fff;
}

.banner .banner-caption span {
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.5px;
}

.banner .banner-caption .blue-button {
  margin-top: 30px;
}

.banner .submit-form {
  border-bottom: 5px solid #4883ff;
  background-color: #fff;
  padding: 5px 3px;
  padding-top: 10px;
  /*color:rgb(227, 228, 163)*/
}
#ijefu{
  /* padding: 0px 5px; */
  padding-top: 10px;
}
a[href="example.php?"]:hover{
  text-decoration: none;
}
a[href="example.php?"]{
  text-decoration: none;
}

#db_content{
  text-align: center;
}

#photo{
  display: inline-block;
  height: 40vh;
  margin: 0 0.4vw;
}

#photos{
  
  /* margin-left: auto;
  margin-right: auto; */

  display: flex;
  /* width: auto; */
  width: 92vw;
  overflow-x: auto;
  overflow-y: hidden;
  /* float: left; */
  height: 40vh;
}

.photos_rating {
  position: absolute;
  display: flex;
  /* margin-left: 65vw; */
  right: 5vw;
  margin-top: calc(40vh - 75px);
  /* width: 30vw; */
  height: 65px;
}

.rating-star{
  padding-left: 1vw;
  display: flex;
  align-items: end;
}

#form-submit{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center;*/
  max-width: 85vw;
  /* align-items: center; */
  flex-direction: column; /* Make the container stack items vertically */
}

.submit-form input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #9a9a9a;
  outline: none;
  padding: 0px 10px;
  display: inline-block;
  box-shadow: none;
}

.submit-form{
  display: flex;
  justify-content: center;
}

.submit-form input:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.submit-form button {
  width: 100%;
  height: 50px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  background-color: #4883ff;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #4883ff;
  transition: all 0.5s;
}

.submit-form button:hover {
  background-color: transparent;
  color: #4883ff;
}

#experience{
  width: 100%;
  display: flex;
  border: none;
  resize:vertical;
  height: 90px;
  padding: 10px;
}
#experience:focus{
  outline: none;
}